@import url('https://fontlibrary.org/en/face/minecraftia');

h1 {
    padding: 10px; 
    border: 2px solid rgb(43, 135, 255); 
    border-radius: 25px 50px; 
    background: rgb(150, 195, 253);
}

.main {
    padding: 1rem 2rem;
    text-align: center;
}

.text {
    display: inline-block;
}

.vert-btn-grp button {
    max-width: fit-content;
    margin-left: auto+1;
    margin-right: auto;
    background-color: rgb(150, 195, 253);
    border: 1px solid rgb(43, 135, 255);
    /*border-radius: 10px 15px;*/
    color: black;
    padding: 10px 24px;
    cursor: pointer;
    width: 50%;
    margin-bottom: 15px;
    font-size: x-large;
    display: block; /* Make the buttons appear below each other */
  }
  
.vert-btn-grp button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}
  
/* Add a background color on hover */
.vert-btn-grp button:hover {
    background-color: #ff5eb6;
}

.games{
    font-family: 'MinecraftiaRegular';
    font-weight: 10;
}

.programming{
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.about-me {
  font-family: 'Comic Sans MS'; 
  font-weight:bold
}